<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes">
    <listeners>
        <listener class-name="testNG.MyReports"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="C:/Users/Neel/IdeaProjects/Rafel/src/test/java/testNG/testNGAnnotations.java">
        <classes>
            <class name="testNG.testNGAnnotations2"/>
            <class name="testNG.testNGAnnotations3"/>
        </classes>
    </test>
</suite>